/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

/* Top section */

#navbar{
    height: 100px;
    background-color: violet;
    margin-bottom: 20px;
}
.main-header{
    height: 300px;
    background-color: goldenrod;
}

/* Main section */

.main-section{
    margin: 20px 0 10px 0;
    background-color: darkcyan;
    height: 450px;
}

.content{
    background-color: lightskyblue;
    height: 360px;
    float: left;
}

.upper.content{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.side{
    width: calc(25% - 20px);
}

.main{
    width: 50%;
}

.left.side.content{
    margin-right: 10px;
}

.main.content{
    margin: 0 10px;
}

.right.side.content{
    margin-left: 10px;
}

/* Footer */

footer{
    height: 40px;
    width: 100%;
    background-color: blueviolet;
}